<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
          {{ site.title }}
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="{{ site.url }}">Home</a>
      <a class="sidebar-nav-item{% if page.title == "Projects" %} active{% endif %}" href="{{ site.url }}/projects/index.html">Projects</a>
      <a class="sidebar-nav-item" href="https://aaronabraham311.gitbook.io/aaron-s-thoughts/">Blog</a>
      <a class="sidebar-nav-item" href="https://www.github.com/aaronabraham311">GitHub</a>
      <a class="sidebar-nav-item" href="http://linkedin.com/in/aaronabraham311/">LinkedIn</a>
      <a class="sidebar-nav-item" href="mailto:aaronabraham311@gmail.com">Email</a>
    </nav>

  </div>
</div>
